@charset "UTF-8";
/* ######### RESETEO DE ESTILO ######### */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ######### Fuentes Importadas ######### */
/* ######### CUERPO ######### */
body {
  background-color: #f1faeeff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: clamp(13px, 1.25vw + 0.1rem, 18px);
  padding: 1px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/datacenter.jpeg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

/* ######### FIN CUERPO ######### */
/* ######### TITULOS ######### */
h1 {
  color: #e63946ff;
  font-size: clamp(30px, 4.25vw + 0.5rem, 40px);
  text-align: left;
  margin: 0.5rem 0;
}

h2 {
  color: #1d3557ff;
  font-size: clamp(25px, 4.25vw + 0.5rem, 35px);
  text-align: center;
  margin: 1rem 0 1rem 0;
}

h3 {
  color: #1d3557ff;
  font-size: clamp(20px, 3.25vw + 0.5rem, 25px);
  text-align: left;
  margin: 1rem 0 1rem 0;
}

h4 {
  color: #f1faeeff;
  font-size: clamp(20px, 3.25vw + 0.5rem, 25px);
  text-align: left;
  margin: 1rem 0 1rem 0;
}

/* ######### FIN TITULOS ######### */
/* ######### SECCIONES ######### */
section {
  padding: 15px 15px;
  margin: 30px 0px;
  margin-top: clamp(5px,2vw + 0.25rem,30px);
  background-color: rgba(241, 250, 238, 0.6);
  border-radius: 5px;
}
section ul li {
  padding: 5px 5px;
  list-style: none;
}
section ul li .subLista li {
  list-style: inside;
  color: black;
}

/* ######### FIN SECCIONES ######### */
/* ######### PARRAFOS ######### */
p {
  margin: 5px;
  text-align: justify;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  line-height: clamp(20px,1.75vw + 0.25rem, 25px);
}

/* ######### FIN PARRAFOS ######### */
/* ######### Boton para subir ######### */
.ir-arriba {
  display: none;
  background-repeat: no-repeat;
  font-size: 20px;
  color: rgba(230, 57, 70, 0.7);
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: -6px;
  z-index: 2;
}

/* ######### Fin Boton para subir ######### */
/* Revierto estilo de Boostrap que genera padding-left indeseado a la sección secundaria */
ol,
ul {
  padding-left: 0;
}

/* Pagina de error */
.tituloError {
  text-align: center;
}

.volverHome {
  display: flex;
  justify-content: center;
}

/* ######### HEADER ######### */
header nav .contenedor {
  justify-content: space-between;
}
header nav .contenedor .navBoton {
  background-color: rgba(29, 53, 87, 0.7);
  box-shadow: 1px 0px 10px 0px rgba(255, 255, 255, 0.75);
}
header nav .contenedor a .logo {
  padding: clamp(10px,3vw + 0.1rem,16px) clamp(10px,3vw + 0.1rem,23px);
  margin: 5px 10px 5px 0;
  border: 2px solid #1d3557ff;
  border-radius: 5px;
  width: clamp(140px, 47vw + 0.5rem, 280px);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
}
@media (max-width: 992px) {
  header nav .contenedor a .logo {
    margin: 5px auto;
  }
}
header nav .contenedor .menu {
  font-weight: bold;
  width: 60%;
  box-shadow: 1px 0px 10px 0px rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  background-color: rgba(29, 53, 87, 0.7);
  z-index: 10;
  flex-grow: 0;
}
header nav .contenedor .menu ul {
  width: 100%;
  justify-content: space-evenly;
}
header nav .contenedor .menu ul li {
  display: inline-block;
  border-radius: 5px;
  position: relative;
  width: 100%;
}
header nav .contenedor .menu ul li:first-of-type .menuItem {
  border-radius: 5px 0 0 5px;
}
header nav .contenedor .menu ul li:last-of-type .menuItem {
  border-radius: 0 5px 5px 0;
}
header nav .contenedor .menu ul li .menuItem {
  display: block;
  color: #f1faeeff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
}
header nav .contenedor .menu ul li .menuItem:hover {
  background-color: #457b9dff;
}
@media (max-width: 992px) {
  header nav .contenedor .menu ul li .menuItem {
    padding: 10px;
    text-align: left;
  }
}
header nav .contenedor .menu ul li .dropdownContent {
  display: none;
  min-width: 100%;
  position: absolute;
  background-color: rgba(168, 218, 220, 0.8);
  box-shadow: 4px 4px 4px #242424;
  border-radius: 0 0 5px 5px;
}
header nav .contenedor .menu ul li .dropdownContent a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 5px 5px;
  color: #1d3557ff;
  border: 0.5px solid;
  border-top: 0;
  border-color: #1d3557ff;
  padding: 10px 20px;
  white-space: nowrap;
}
header nav .contenedor .menu ul li .dropdownContent a:last-of-type {
  border-radius: 0 0 5px 5px;
}
header nav .contenedor .menu ul li .dropdownContent a:hover {
  background-color: #457b9dff;
}
header nav .contenedor .menu ul li:hover .dropdownContent {
  display: block;
}
@media (max-width: 992px) {
  header nav .contenedor .menu ul li:hover .dropdownContent {
    display: none;
  }
}

/* ######### FIN HEADER ######### */
/* ######## SECCIÓN PRINCIPAL ######### */
.mainSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  align-items: center;
}
.mainSection .mainSectionText {
  display: flex;
  flex-direction: column;
  flex: 30%;
  padding: 5px;
  margin-right: 10px;
}
.mainSection .mainSectionText .mainTitle {
  font-size: clamp(32px, 4vw + 0.5rem, 60px);
  color: #a8dadcff;
}
.mainSection .mainSectionText p {
  margin: 20px 0 5px 0px;
  margin-top: clamp(5px,1.5vw + 0.1rem,20px);
  text-align: left;
  line-height: clamp(18px,3vw + 0.5rem, 35px);
  font-size: clamp(13px,2vw + 0.1rem,22px);
  color: #f1faeeff;
}
.mainSection .mainImage {
  flex: 50%;
}
.mainSection .mainImage img {
  box-shadow: 4px 4px 4px grey;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

@media (max-width: 469px) {
  .mainSection .mainImage {
    width: 100%;
  }
  .mainSection .mainSectionText {
    margin: 0px;
  }
  .mainSection .mainSectionText .mainTitle {
    text-align: center;
  }
  .mainSection .mainSectionText p {
    text-align: justify;
  }
}
@media (min-width: 470px) and (max-width: 960px) {
  .mainImage {
    width: 100%;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    flex: 30%;
  }
}
/* ########## sección secundaria ######### */
.secondarySection ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.secondarySection ul li {
  display: flex;
  flex-direction: column;
  flex: 20%;
  align-items: center;
}
.secondarySection ul li p {
  font-size: clamp(13px, 1.25vw + 0.1rem, 16px);
  text-align: center;
}
.secondarySection ul li h3 {
  text-align: center;
}
.secondarySection ul li .homeImages {
  width: 180px;
  height: 180px;
  border: 5px;
  border-radius: 50%;
  border-style: solid;
  border-color: #457b9dff;
  box-shadow: 4px 4px 4px grey;
}
.secondarySection ul li .homeImages:hover {
  border-style: solid;
  border-color: #e63946ff;
}

/* ########## sección partners ######### */
.partners div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.partners div img {
  width: clamp(82px, 28vw + 0.5rem, 250px);
  border: 5px;
  border-style: solid;
  border-color: #457b9dff;
  box-shadow: 4px 4px 4px grey;
  padding: clamp(4px,1vw + 0.1rem,15px);
  margin: clamp(10px,3vw + 0.1rem,20px) clamp(4px,1vw + 0.1rem,10px);
}

/* Sección nosotros */
.nosotros .quienesTitle {
  text-align: center;
}
.nosotros .quienesSomos {
  padding: 10px;
}
.nosotros .quienesSomos .quienesDescription {
  grid-area: quienesDescription;
  margin-bottom: 20px;
}
.nosotros .quienesSomos .quienesGaleria img {
  border-radius: 8px;
  border: 1px solid #1d3557ff;
}
.nosotros .quienesSomos .quienesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "officeThree officeThree usImage" "officeOne officeTwo usImage";
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-evenly;
  grid-gap: 2vw;
}
.nosotros .quienesSomos .quienesGrid .usImage {
  grid-area: usImage;
  width: 100%;
}
.nosotros .quienesSomos .quienesGrid .officeOne {
  grid-area: officeOne;
  width: 100%;
}
.nosotros .quienesSomos .quienesGrid .officeTwo {
  grid-area: officeTwo;
  width: 100%;
}
.nosotros .quienesSomos .quienesGrid .officeThree {
  grid-area: officeThree;
  width: 100%;
}

/* Mobile styles */
@media only screen and (max-width: 400px) {
  .quienesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "officeThree officeThree" "officeOne officeTwo";
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    grid-gap: 2vw;
  }
}
/* Sección Clientes */
.clientes .clientesLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.clientes .clientesLogos img {
  width: clamp(82px, 28vw + 0.5rem, 250px);
  border: 5px;
  border-style: solid;
  border-color: #457b9dff;
  box-shadow: 4px 4px 4px grey;
  padding: clamp(4px,1vw + 0.1rem,15px);
  margin: clamp(10px,3vw + 0.1rem,20px) clamp(4px,1vw + 0.1rem,10px);
}

.videoProyectos {
  display: flex;
  justify-content: center;
}

.videoYoutube {
  margin: 20px auto;
  border-radius: 5px;
}

/* ######### TABLA ######### */
table {
  margin: 5px 5px;
  border-style: solid;
  border-width: 0.4px;
  border-collapse: collapse;
  font-size: clamp(10px, 2vw + 0.1rem, 18px);
}

tr,
th,
td {
  padding: clamp(2px,0.25vw + 0.1rem,8px);
  border-style: solid;
  border-color: black;
  border-width: 0.4px;
  text-align: center;
}

th {
  background-color: #a8dadcff;
}

/* ######### FIN TABLA ######### */
/* ######### PIE DE PAGINA ######### */
footer {
  background-color: rgba(69, 123, 157, 0.7);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 4px 4px 4px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer .footerItems {
  flex-basis: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .footerItems div h4 {
  margin: 10px;
}
footer .footerItems div .footerTitle {
  color: #f1faeeff;
  font-size: clamp(20px, 3.25vw + 0.5rem, 25px);
  text-align: left;
  margin: 1rem 0 1rem 0;
  margin: 10px;
}
footer .footerItems div .footerParagraph {
  color: white;
  margin: 10px;
  font-size: small;
  line-height: normal;
}
footer .footerItems iframe {
  margin: 10px;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  box-shadow: 4px 4px 9px black;
}
footer .footerItems .footerSocial {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  height: 180px;
}
footer .footerItems .footerSocial a {
  text-decoration: none;
  color: #f1faeeff;
  display: flex;
  align-items: center;
  font-size: larger;
}
footer .footerItems .footerSocial a img {
  width: 30px;
  margin: 0px 15px;
}
@media (max-width: 800px) {
  footer .footerItems .footerSocial {
    flex-direction: row;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (max-width: 800px) {
  footer .footerItems {
    flex-basis: 100%;
  }
}

/* ######### FIN PIE DE PAGINA ######### */
/* Pagina de error */
.tituloError {
  text-align: center;
}

.volverHome {
  display: flex;
  justify-content: center;
}

/* ######### TRANSISIONES Y TRANSFORMACIONES ######### */
.transitionScale * {
  transition: all 0.5s ease-out;
}

.transitionScale *:hover {
  transform: scale(1.02);
}

.transitionScalePlus * {
  transition: all 0.3s ease-out;
}

.transitionScalePlus *:hover {
  transform: scale(1.2);
}

/* ######### FIN TRANSISIONES Y TRANSFORMACIONES ######### */

/*# sourceMappingURL=style.css.map */
