/* ######### PIE DE PAGINA ######### */
footer {
    background-color: $celadonBlueLight;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 4px 4px 4px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .footerItems {
        flex-basis: 33%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        div {
            h4 {
                margin: 10px;
            }

            .footerTitle {
                @include titulos($honeydew, map-get($fontSizeTitle, chico), left);
                margin: 10px;
            }

            .footerParagraph {
                color: white;
                margin: 10px;
                font-size: small;
                line-height: normal;
            }
        }

        iframe {
            margin: 10px;
            border-radius: 5px;
            width: 100%;
            height: 200px;
            box-shadow: 4px 4px 9px black;

        }

        .footerSocial {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;
            height: 180px;

            a {
                text-decoration: none;
                color: $honeydew;
                display: flex;
                align-items: center;
                font-size: larger;

                img {
                    width: 30px;
                    margin: 0px 15px;
                }
            }
        }

        @media (max-width:800px) {
            .footerSocial {
                flex-direction: row;
                flex-basis: 100%;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }

    @media (max-width:800px) {
        .footerItems {
            flex-basis: 100%;
        }
    }

}

/* ######### FIN PIE DE PAGINA ######### */