/* ######## SECCIÓN PRINCIPAL ######### */
.mainSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7));
    align-items: center;

    .mainSectionText {
        display: flex;
        flex-direction: column;
        flex: 30%;
        padding: 5px;
        margin-right: 10px;

        .mainTitle {
            font-size: clamp(32px, 4vw + 0.5rem, 60px);
            color: $powderBlue;
        }

        p {
            margin: 20px 0 5px 0px;
            margin-top: clamp(5px,1.5vw + 0.1rem,20px);
            text-align: left;
            line-height: clamp(20px,2vw + 0.5rem, 35px);
            font-size: clamp(17px,1.7vw,22px);
            color: $honeydew;
        }
    }

    .mainImage {
        flex: 50%;

        img {
            box-shadow: 4px 4px 4px grey;
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }
}

// Media queries

@media (max-width: 469px) {
    .mainSection {
        .mainImage {
            width: 100%;
        }

        .mainSectionText {
            margin: 0px;
            .mainTitle {
                text-align: center;
            }

            p {
                text-align: justify;
                line-height: 20px;
                font-size: 15px;
            }
        }
    }
}

@media (min-width: 470px) and (max-width: 960px) {

    .mainImage {
        width: 100%;
    }

    .mainSection {
        display: flex;
        flex-direction: column;
        flex: 30%;
    }
}

/* ########## sección secundaria ######### */

.secondarySection {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li {
            display: flex;
            flex-direction: column;
            flex: 20%;
            align-items: center;

            p {
                // font-size: 16px;
                font-size: clamp(13px, 1.25vw + 0.1rem, 16px);
                text-align: center;
            }

            h3 {
                text-align: center;
            }

            .homeImages {
                width: 180px;
                height: 180px;
                border: 5px;
                border-radius: 50%;
                border-style: solid;
                border-color: $celadonBlue;
                box-shadow: 4px 4px 4px grey;

                &:hover {
                    border-style: solid;
                    border-color: $imperialRed;
                }
            }
        }
    }
}

/* ########## sección partners ######### */
.partners {
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        img {
            width: clamp(82px, 28vw + 0.5rem, 250px);
            border: 5px;
            border-style: solid;
            border-color: $celadonBlue;
            box-shadow: 4px 4px 4px grey;
            padding: clamp(4px,1vw + 0.1rem,15px);
            margin: clamp(10px,3vw + 0.1rem,20px) clamp(4px,1vw + 0.1rem,10px);
        }

    }
}