.videoProyectos {
    display: flex;
    justify-content: center;
}

.videoYoutube {
    margin: 20px auto;
    border-radius: 5px;
}

.subLista {
    li {
        list-style: inside;
        color: black;
    }
}