/* ######### TABLA ######### */
table {
    margin: 5px 5px;
    border-style: solid;
    border-width: 0.4px;
    border-collapse: collapse;
    font-size: clamp(8px, 2vw + 0.1rem, 18px);
}

tr,
th,
td {
    padding: clamp(2px,0.25vw + 0.1rem,8px);
    border-style: solid;
    border-color: black;
    border-width: 0.4px;
    text-align: center;
}

th {
    background-color: $powderBlue;
}

/* ######### FIN TABLA ######### */