@mixin titulos($color, $fontSize, $textAlign) {
	color: $color;
	font-size: $fontSize;
	text-align: $textAlign;
	@if $fontSize == map-get($fontSizeTitle , grande) {
		margin: 0.5rem 0;
	} @else {
		margin: 1rem 0 1rem 0;
	}
}