// /* ######### Variables para paleta de colores ######### */
    $imperialRed: #e63946ff;
    $imperialRedLight: rgba(230, 57, 70, 0.7);
    $honeydew: #f1faeeff;
    $honeydewLight: rgba(241, 250, 238, 0.6);
    $powderBlue: #a8dadcff;
    $powderBlueLight: rgba(168, 218, 220, 0.8);
    $celadonBlue: #457b9dff;
    $celadonBlueLight: rgba(69, 123, 157, 0.7);
    $prussianBlue: #1d3557ff;
    $prussianBlueLight: rgba(29, 53, 87, 0.7);

